

.resultview div.firstresultcontainer {margin-top:0;}

.txticon.txtunchecked, .txticon.txtcheck {
margin-bottom: 3px;
display: inline-block;
}




.languageselect button {
	display: block;
	margin: 8em auto;
}

.worddescription .mathobj {
	margin-bottom: 1em;
	margin-top: 1em;
}

.textlist {
	margin-top: 1em;
}

.examplelist li {
	text-align: center;
	margin-top: 2em;
	margin-bottom: 2em;
}




.toollist {
	list-style-type: none;
	-webkit-padding-start: 0;
	padding-left: 0;
}


.group:after {
	content: ".";
	display: block;
	visibility: hidden;
	height: 0;
	clear: both;
}

.historysection {
	overflow-x: auto;
}

.examplessection .historysection, .historysection .examplessection {
	display: none;
}

.expressionsview .btn-group {
	text-align: center;
}


.underconstruction {
background: red;
color: white;
display: inline-block;
position: absolute;
right: 1em;
top: 4em;
font-size: 0.9em;
padding: 2px;
border-radius: 5px;
z-index: 10;
}

.loader {
	text-align: center;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { transform: rotate(360deg); transform:rotate(360deg); } }

.loader .clock {
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}


#PRERENDER {
	display: none;
}

math, math[display="block"] {
	margin-bottom: 0;
}


.centerbox {
	text-align: center;
	display: block;
	margin: 0 auto;
}


/***************** bla ********************************/

.largeland { display: none; }
.large.landscape .largeland { display: inline; }

.large.landscape .nonlargeland { display: none; }

/***************** M I N I    M I S C E L L A N E O U S ********************************/

button.stepbutton, button.decbutton, button.loadingbutton, button.backbutton {
	margin: 1em auto;
	display: block;
}


.buttonexample {
	margin: 0 auto;
	margin-bottom: 0.8em;
}

.welcomeheadline {
	font-weight: bold;
	font-size: 1.2em;
}

.mathblock {
	margin-top: 1em;
	margin-bottom: 1em;
}

.mathblock .objholder {
	margin-top: 1em;
}

.intextlist {
	margin-top: 1em;
	margin-bottom: 1em;
}

.intextlist li {
	margin-top: 1em;
	margin-bottom: 1em;
}

.phonetext {
	font-size: 0.8em;
}

.main .MathJax_Display {
	margin: 0;
}

.historyinstruction {display:none;}
.emptyhistorytext {display:none;}
.emptyhistory .emptyhistorytext {display:block;}


.mathview{text-align:center;}
.mathview .nav-header{
	margin-top:1.8em;
	margin-bottom:0.8em;
}
body.phone.landscape div.mathview {text-align:left;}
body.phone.landscape div.mathrender, body.phone.landscape div.textrender  {
	float: left;
	width: 49%;
	margin-right: 0;
}
body.phone.landscape div.mathview div.structrender {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
}
body.phone.landscape div.mathview div.textrender {
	clear: left;
}


body.phone.portrait .structinstruction {
	height: 4.5em;
}

body.phone.portrait div.mathview {
	overflow-y: scroll;
}

/*
body.phone.portrait .zoomed .structinstruction {
	height: 0;
	overflow: hidden;
	-webkit-transition: height 0.6s ease-in-out;
	-moz-transition: height 0.6s ease-in-out;
	-o-transition: height 0.6s ease-in-out;
	transition: height 0.6s ease-in-out;
}*/





body.phone.landscape div.jaxcont {
	margin-left: 1em;
}

.wordview .exampleholder {text-align: center;}
.wordview .objholder {display:inline-block;}


.halflings-icon {
	top: 3px;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(180deg);
  }
}
img.ambigram
{
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         3s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: ease-in-out;
}

#loadscreen {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1000;
	padding-top: 100px;
	text-align: center;
}

#hideout, #templates, #mathprerender, #helptexts {display: none;}

.btn-mini > i {
	margin-top: -1px;
}


div.result {z-index:2;}


.wordindex h5 {display:none;}

.errorcontainer {
	text-align: center;
	margin-top: 1em;
}




/************************ C O N T R O L    P A N E L ********************************/



/*.controlpanel { margin-bottom: 1em; }*/
/* .large.landscape .controlpanel { float: right; } */


/************************ C A L C U L A T O R   M O D E *****************************/






div.sequence ul.listview > li {
	margin-bottom: 3.5em;
}




/************************** L A Y O U T    H E L P E R S ****************************/

.padsides {padding-left: 8px; padding-right:8px;}




/*.sequence {
	position: relative;
}*/

.loading .loadprogress, .finishedloading .loadedcontent { 
	display: block;
}

.loading .loadedcontent,
.finishedloading .loadprogress, 
.hidden {
	display: none !important;
}

/*#appendedinputfield { width: 100px; }*/

/*
.sequencecontainer .backbutton {
	display: block;
	margin: 2em auto;
}*/

.phone-space-top {
	margin-top: 0.5em;
}

.clear-both {
	clear: both;
}

.largetext {
	font-size: 1.2em;
}

.centered {
	text-align: center;
}

.centered > * {
	margin: 0 auto;
}

.space-right {
	margin-right: 0.5em;
}

.space-left {
	margin-left: 0.5em;
}

ul.listview {
	padding-left: 0;
	padding-right: 0;
}

.listview { margin-left: 0; }
.listview li { list-style-type: none; }


li.nav-header {
	padding: 3px 15px 3px 30px;
}

