.intexttoollink {
	border-radius: 3px;
	background-color: #C7D3FF;
	padding: 0 3px;
	color: #000;
	text-decoration: none;	
}

div.expressionsview div.davidlist {
	font-size: 1em;
	text-align: left;
}
