button.modalcloserbutton {
	width: 35px;
	height: 34px;
	position: absolute;
	padding:0;
}

.davidmodalcontent:before {
	content: " ";
	display: block;
	height: 5px;
}

.davidmodalcontent:after {
	content: " ";
	display: block;
	height: 2em;
}

.davidlink.nolink, .davidlink.nolink:hover {
	color: white;
	background-color: inherit;
	cursor: inherit;
}

body.phone.landscape .davidmodalheader button {
	padding: 1px 6px;
	font-size: 10.5px;
	border-radius: 3px;
	height: 20px;
}

body.phone.landscape .modalheadline {
	font-size: 1.1em;
	margin-top: 2px;
}

body.phone.landscape .davidmodalheader {
	height: 25px;
}

body.phone.landscape .davidmodalbody {
	top: 32px;
}

body.phone.landscape .davidmodal {
	top: 1px;
	bottom: 3px;
}

/************************ M O D A L   R E A D E R *****************************/

div.davidmodal {
	overflow: hidden;
	position: absolute;
	bottom: 4%;
	top: 4%;
	left: 4%;
	right: 4%;
	border-radius: 4px;
	/*border: 1px solid #AAA;*/
	box-shadow: 0 0 7px white;
	z-index: 1050;
	background-color: #FFF;
	-webkit-transition: -webkit-transform 0.3s ease-in-out;
	-webkit-transform: scale3d(0, 0, 0);
	-moz-transition: -moz-transform 0.3s ease-in-out;
	-moz-transform: scale3d(0, 0, 0);
	-o-transition: -o-transform 0.3s ease-in-out;
	-o-transform: scale3d(0, 0, 0);
	transition: transform 0.3s ease-in-out;
	transform: scale3d(0, 0, 0);
}

body.showingdavidmodal div.davidmodal {
	display: inherit;
	/*-webkit-transition: -webkit-transform 0.3s ease-in-out;
	-moz-transition: -moz-transform 0.3s ease-in-out;
	-o-transition: -o-transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out;*/
	-webkit-transform: scale3d(1, 1, 1);
	-moz-transform: scale3d(1, 1, 1);
	-o-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

div.davidmodalbackdrop{
	background-color: #000;
	opacity: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	-webkit-transition: opacity 0.3s ease-in-out, right 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out, right 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out, right 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out, right 0.3s ease-in-out;
}

body.showingdavidmodal div.davidmodalbackdrop {
	opacity: 0.7;
}

div.davidmodalheader {
	background-color: #444;
	height: 40px;
	padding: 3px;
	color: white;
}

div.davidmodalbody{
	overflow: hidden;
	position: absolute;
	top: 40px;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0;
	margin: 0;
}

h4.modalheadline {
	margin: 5px;
	margin-top: 7px;
	text-align: center;
}

div.davidmodalcontent {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 6px;
	position: absolute;
}

body.showingdavidmodal div.davidmodalcontent {
	overflow-y:auto;
	-webkit-overflow-scrolling: touch;
	-moz-overflow-scrolling: touch;
	-o-overflow-scrolling: touch;
	overflow-scrolling: touch;
	overflow-x:hidden;
}

