



.davidmodalcontent:after {
	content: " ";
	display: block;
	height: 2em;
}

/*.davidmodalcontent:before {
	content: " ";
	display: block;
	height: 5px;
}*/

.mainnavsection {
	display: none;
}
.mainnavsection.active {
	display: inherit;
}

