button.expressionsbutton {
	white-space: normal;
	font-size: 11px;
	line-height: 1.1em;
	overflow-y: hidden;
	padding: 4px 7px;
}

.helpbuttonbox {
	opacity: 1;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
	margin: 3em auto;
}

.notempty .helpbuttonbox {
	opacity: 0;
}

/*.parserview .analysis {
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

.notempty .analysis {
	opacity: 1;
}*/


button.newcalcbutton {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.parserview .viewcontent {
	text-align: center;
}

.parserview .firstresultcontainer {
	text-align: center;
	margin-top: 24px;
}

div.parsersection {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index: 1000;
	text-align: center;
	background-color: transparent;
	overflow-y: scroll;
}

body.large .parserinput {
	margin-top: 2em;
	margin-bottom: 0.5em;
}

body.large .parsersection .btns {
	margin-bottom: 0.5em;
}


.parsersection .analysis {
	margin-top: 10px;
	text-align:center;
	width: 85%;
	margin-bottom: 2em;
}

.text-error {
	color: red;
	text-shadow: #FFF 0 0 5px;
	margin-top: 10px;
}


div.inputview {
	position: absolute;
	top: 24px;
	left: 0;
	right: 0;
	bottom: 0;
}

div.inputview div.btns {
	margin: 0.5em;
	position: relative;
}

.calcbutton {
	width: 100px;
}

/***** TEXTCLEARERBUTTON *****/

.textclearerbtn {
	top: 3px;
	font-size: 18px;
	position: absolute;
	text-align: center;
	right: 100px;
	width: 35px;
	height: 30px;
	visibility: hidden;
	cursor:pointer;
	-webkit-transition: opacity 0.3s ease-in-out, visibility 0s 0.3s;
	-moz-transition: opacity 0.3s ease-in-out, visibility 0s 0.3s;
	-o-transition: opacity 0.3s ease-in-out, visibility 0s 0.3s;
	transition: opacity 0.3s ease-in-out, visibility 0s 0.3s;
	opacity: 0;
	text-shadow: -1px -1px 0 white,1px -1px 0 white,-1px 1px 0 white,1px 1px 0 white;
}

.parserinput {
	position: relative;
}

.textclearerbtn > span {top:5px;}

.focusedtext .notempty .textclearerbtn {
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
	opacity: 1;
	visibility: visible;
}
