.parserinput {
	position: relative;
	max-width: 700px;
	margin: 0 auto;
}

.portrait .parserinput {
	margin-top: 1em;
}

body.landscape .textfieldbox {
	position: relative;
	margin-left: 90px;
	margin-right: 110px;
}
body.landscape .expressionsbutton {
	position: absolute;
	top: 0;
	left: 0;
}
body.landscape .calcbutton {
	position: absolute;
	top: 0;
	right: 0;
}

body.portrait .parserinput > button {
	margin: 5px;
	margin-top: 10px;
}

button.expressionsbutton {
	white-space: normal;
	font-size: 11px;
	line-height: 1.1em;
	overflow-y: hidden;
	padding: 4px 7px;
	width: 80px;
}

.helpbuttonbox {
	opacity: 1;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
	position: absolute;
	bottom: 2em;
	right: 2em;
}

.notempty .helpbuttonbox {
	opacity: 0;
}

.analysis {
	margin: 1em auto;
	max-width: 650px;
}

.parserview .analysis {
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

.notempty .analysis {
	opacity: 1;
}


button.newcalcbutton {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.parserview .viewcontent {
	text-align: center;
}

.text-error {
	color: red;
	text-shadow: #FFF 0 0 5px;
	margin-top: 10px;
}

.calcbutton {
	width: 100px;
}

/***** TEXTCLEARERBUTTON *****/

.textclearerbtn {
	top: 3px;
	font-size: 18px;
	position: absolute;
	text-align: center;
	right: 0;
	width: 35px;
	height: 30px;
	visibility: hidden;
	cursor:pointer;
	-webkit-transition: opacity 0.3s ease-in-out, visibility 0s 0.3s;
	-moz-transition: opacity 0.3s ease-in-out, visibility 0s 0.3s;
	-o-transition: opacity 0.3s ease-in-out, visibility 0s 0.3s;
	transition: opacity 0.3s ease-in-out, visibility 0s 0.3s;
	opacity: 0;
	text-shadow: -1px -1px 0 white,1px -1px 0 white,-1px 1px 0 white,1px 1px 0 white;
}

.textclearerbtn > span {top:5px;}

.focusedtext .notempty .textclearerbtn {
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
	opacity: 1;
	visibility: visible;
}
