
/**************************************************************************************************************
***************************************************************************************************************

     T O P   H E A D L I N E

All have class .indexedheadline. Used on top of every single view.

*/

.indexedheadline {
	background-color: #444;
	display: block;
	padding: 6px;
	padding-left: 30px; /* to accommodate for Back arrow button */
	padding-right: 35px; /* to accommodate for category Icon */
	text-align: center;
	margin-bottom: 1em;
	color: white;
	position: relative;
	overflow-y: visible;
}

.indexedheadline:after { /* category icon shown to the far right of all top headlines */
	font-family: 'Glyphicons Regular';
	right: 4px;
	top: 0;
	font-size: 30px;
	color: black;
	text-shadow: 0 0 5px white;
	position: absolute;
}
.indexedheadline.glossarycat:after {content: "\E072";} /* book icon */
.indexedheadline.calccat:after {content: "\E324";} /* calculator icon */
.indexedheadline.toolcat:after {content: "\1F527";} /* wrench icon */
.indexedheadline.infocat:after {content: "\E196";} /* infocircle icon */
.indexedheadline.schoolcat:after {content: "\E333";} /* certificate icon */
.indexedheadline.helpcat:after {content: "\E195";} /* help icon */

.killstacktabbutton:before {  /* The back button found to the far left inside the top header of non-root views */
	position: absolute;
	font-family: 'Glyphicons Regular';
	content: "\E211"; /* left arrow icon */
	top: 2px;
	left: 0;
	z-index: 100;
	font-size: 20px;
	color: white;
	text-decoration: none;
	text-align: left;
	padding-left: 5px;
	width: 50px; /* Bigger width than needed to make bigger hitboxes, which means easier to click */
}

.viewhelpbutton {  /* The help button found on the bottom right of all views */
	position: absolute;
	font-family: 'Glyphicons Regular';
	bottom: 15px;
	right: 0;
	font-size: 24px;
	color: black;
	text-decoration: none;
	text-align: center;
	padding-left: 8px;
	height: 30px;
	display: block;
}
.viewhelpbutton:before {
	content: "\E195"; /* question mark */
	padding-right: 10px;
}

/**************************************************************************************************************
***************************************************************************************************************

     R O W N U M B E R   S U B H E A D E R

These are the small headline used inside boxes, for example the one saying "Analysis" on the main calc page.
The name rownum is just for historical reasons. Also used for actual rownumbers in calculation results, and
a few other places. All have the .rownum class.

*/

.rownum {
	margin-right: 0.6em;
	margin-top: 1px;
	margin-bottom: 3px;
	font-size: 1em;
	color: #FFF;
	background-color: #555;
	border-radius: 10px;
	min-width: 15px;
	padding: 0 4px;
	text-align: center;
}


/**************************************************************************************************************
***************************************************************************************************************

    S U B   H E A D E R   I N S I D E   V I E W S

In-text headers or section headers (that are NOT inside a box like the rownum headers abobe) all have the .nav-header class.
They're also all h5 elements, I think.
You can find examples of this on a word explanation page that has operation links (reading "Related basic operations" etc).

*/

h5.nav-header {
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #999;
	margin-top: 2em;
	font-size: 0.8em;
	margin-bottom: 1.5em;
	margin-left: 2em;
}

/**************************************************************************************************************
***************************************************************************************************************

    P I L L   L I N K

This refers to the pill-shaped link to a word/operation/lesson/infopage that can be found throughout the app.
They are all anchor tags, and all have the class .davidlink.

*/

.davidlink {
	display: inline-block;
	border-radius: 3px;
	background-color: #E7EDFF;
	padding: 0 3px;
	color: #000;
	text-decoration: none;
	font-size: 0.9em;
	margin: 3px;
}
.davidlink:hover {
	color: #000;
	cursor: pointer;
}
.davidlink:active {
	background-color: #C7D3FF;
	color: #000;
}
div.davidlist {text-align: center;} /* davidlinks are (always?) found insides divs with class .davidlist */


   /* ------------------- Tool link special bits ------------------------------------------------ */


.toollink, .lessonlink {position:relative; padding-right:22px;} /* To accommodate for the red/green/yellow marker to the far right of tool links */
.toollink:after, .lessonlink:after { /* The round marked after a toollink */
	display: inline-block;
	height: 14px;
	width: 14px;
	position: absolute;
	right: 4px;
	bottom: 2px;
	border-radius: 7px;
	content: " ";
}
.toollink.green:after, .lessonlink.green:after {background-color: #29D107;}
.toollink.red:after, .lessonlink.red:after {background-color: #F11308;}
.toollink.yellow:after, .lessonlink.yellow:after {background-color: #FFDD00;}

    /* ------------------- Lesson link special bits ------------------------------------------------ */

/*.redcount, .yellowcount, .greencount {
	font-size: 0.9em;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 3px;
	padding-top: 3px;
	border-radius: 12px;
	margin-left: 7px;
	min-width: 15px;
	text-decoration: none;
}
.greencount {background-color: #29D107;}
.redcount {background-color: #F11308;color:white;}
.yellowcount {background-color: #FFDD00;}

.completedlesson .redcount, .completedlesson .yellowcount {display: none;}
a > .completedlesson {color:#555;text-decoration:line-through;}
*/


/**************************************************************************************************************
***************************************************************************************************************

	T R A F F I C   L I G H T S

Shown on toolview and lessonview.

*/

.trafficlight {
	text-align: center;
	background-color: #444;
	width: 20px;
	height: 62px;
	border-radius: 4px;
	float: left;
	margin-right: 10px;
	padding-top: 2px;
}
.trafficlight > span {
	width: 14px;
	height: 14px;
	border-radius: 7px;
	display: inline-block;
}

.tredlamp {background-color:#4B0300;}
.tyellowlamp {background-color:#625500;}
.tgreenlamp {background-color:#0E5500;}

.trafficlight.trafficred > .tredlamp {background-color:#F11308;box-shadow: 0 0 12px #F11308;}
.trafficlight.trafficyellow > .tyellowlamp {background-color:#FFDD00;box-shadow: 0 0 12px #FFDD00;}
.trafficlight.trafficgreen > .tgreenlamp {background-color:#29D107;box-shadow: 0 0 12px #29D107;}



/**************************************************************************************************************
***************************************************************************************************************

	N A V I G A T I O N   T A B S

Tabs will look different depending if the body tag has the .phone or the .large class
Tabs will be bottom or left depending if the body tag has the .portrait or the .landscape class

*/


	/* ------------------- Control positions depending on screen size/orientation ------------------------------------------ */

.controlpanel { /* the div containing the tabs */
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;	
	z-index: 1;
	background-color: #C7D3FF
}
body.portrait .controlpanel {right: 0;}
body.landscape .controlpanel {top: 0;}
body.phone.portrait .controlpanel {
	height: 42px;
	padding-left: 10px;
}
body.phone.landscape .controlpanel{
	padding-top: 5px;
	width: 42px;
}
body.large.portrait .controlpanel {
	height: 100px;
}
body.large.landscape .controlpanel {
	width: 100px;
}
body.phone.landscape .wrapper {left: 42px;}
body.phone.portrait .wrapper {bottom: 42px;}
body.large.portrait .wrapper {bottom: 100px;}
body.large.landscape .wrapper {left: 100px;}

	/* --------------------------------------------- Tab look ------------------------------------------------- */

.tab {
	height: 35px;
	width: 50px;
	text-align: center;
	background-color: #E7EDFF;
	position: relative;
	display: block;
	font-size: 20px;
}

.tab > span {
	color: #888;
	padding: 5px;
	margin-top: 2px;
	display: inline-block;
}


body.landscape .tab {
	margin-bottom: 5px;
	border-radius: 10px 0 0 10px;
}

body.portrait .tab {
	margin-right: 5px;
	border-radius: 0 0 10px 10px;
}


body.portrait .tab:before {
	position: absolute;
	left: -6px;
	top: 0;
	content: " ";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 6px 30px 0;
	border-color: transparent #E7EDFF transparent transparent;
}
body.portrait .tab:after {
	position: absolute;
	right: -6px;
	top: 0;
	content: " ";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 30px 6px 0 0;
	border-color: #E7EDFF transparent transparent transparent;
}

body.phone .tab {
	padding: 0;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
}
body.portrait .tab {
	margin-right: 10px;
	margin-left: 0;
	float: left;
}

body.portrait .tab:last-child {
	margin-right: 0;
}

body.landscape .tab {
	padding-right: 0;
	float: right;
	clear: right;
}

body.large.landscape .tab {
	margin-bottom: 1em;
	margin-top: 1em;
}

body.large.portrait .tab {
	margin-right: 6px;
	width: 80px;
}

/* -----------------------------------------Active Tab look ------------------------------------------------- */

.tab.active {
	background-color: white;
}

.tab.active > span {
	color: #5d5d5d;
}

body.portrait .tab.active:before {
	border-color: transparent white transparent transparent;
	z-index: 2;
}

body.portrait .tab.active:after {
	border-color: white transparent transparent transparent;
	z-index: 2;
}

body.landscape .tab.active {margin-right: -1px;}
body.portrait .tab.active {margin-top: -1px;}
