/**************************************************************************************************************
***************************************************************************************************************

     T O P   L E V E L   S T Y L E S

These are the styles applied to body and other top-level elements

*/

#MathJax_Message { margin-left: -10000% !important; }
body {
	-webkit-overflow-scrolling: touch;
	-moz-overflow-scrolling: touch;
	-o-overflow-scrolling: touch;
	overflow-scrolling: touch;
	user-select: none;
	overflow: hidden;
}
body.large {
	font-size: 16px;
}

.wrapper { /* to prevent weird sidescrolling bug */
	overflow: hidden;
}

/**************************************************************************************************************
***************************************************************************************************************

     V I E W   S K E L E T O N

These are the classes used in construction of the various views.

*/

.viewbox {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-x: hidden;
}
.viewcontent {
	position: absolute;
	overflow-y: auto;
	overflow-x: hidden;
	top: 46px;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 12px;
	padding-top: 1em;
	padding-bottom: 3em;
	background: white;
	text-align: left;
}

.parserview {
	text-align: center;
}

.padbox {padding: 12px; padding-top:1em; }
body.large .viewcontent, body.large .padbox {
	padding: 2em;
}

.viewtitleafter {
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
	content: " ";
	position: absolute;
	display: block;
	bottom: 0;
	left: 0;
	right: 0;
	top: 46px;
	z-index: 10;
	height: 15px;
	margin: 0;
	padding: 0;
}

.viewcontentafter {
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	content: " ";
	position: absolute;
	display: block;
	bottom: 0;
	left: 0;
	right: 0;
	height: 15px;
	z-index: 100;
}

div.sequencecontainer {
	overflow-x:hidden;
	overflow-y:hidden;
}

div.sequence {
	overflow-x: hidden;
	overflow-y: auto;
}

body.has3dtransforms div.sequence {
	-webkit-transition: -webkit-transform 0.4s ease-in-out;
	-webkit-transform: translateX(0);
	-moz-transition: -moz-transform 0.4s ease-in-out;
	-moz-transform: translateX(0);
	-o-transition: -o-transform 0.4s ease-in-out;
	-o-transform: translateX(0);
	transition: transform 0.4s ease-in-out;
	transform: translateX(0);
}

body.has3dtransforms div.sequencehiddenleft {
	-webkit-transition: -webkit-transform 0.4s ease-in-out;
	-webkit-transform: translate3d(-105%, 0, 0);
	-moz-transition: -moz-transform 0.4s ease-in-out;
	-moz-transform: translate3d(-105%, 0, 0);
	-o-transition: -o-transform 0.4s ease-in-out;
	-o-transform: translate3d(-105%, 0, 0);
	transition: transform 0.4s ease-in-out;
	transform: translate3d(-105%, 0, 0);
}

body.has3dtransforms div.sequencehiddenright {
	-webkit-transition: -webkit-transform 0.4s ease-in-out;
	-webkit-transform: translate3d(105%, 0, 0);
	-moz-transition: -moz-transform 0.4s ease-in-out;
	-moz-transform: translate3d(105%, 0, 0);
	-o-transition: -o-transform 0.4s ease-in-out;
	-o-transform: translate3d(105%, 0, 0);
	transition: transform 0.4s ease-in-out;
	transform: translate3d(105%, 0, 0);
}

body.no3dtransforms div.sequence {
	transition: left 0.4s ease-in-out;
	transition: right 0.4s ease-in-out;
	left: 0;
	right: 0;
}

body.no3dtransforms div.sequencehiddenleft {
	transition: right 0.4s ease-in-out;
	right: 105%;
}

body.no3dtransforms div.sequencehiddenright {
	transition: left 0.4s ease-in-out;
	left: 105%;
}

.absbox {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

/* controlling which tab is shown, every tab has a .mainnavsection class */
.mainnavsection {display: none;}
.mainnavsection.active {display: inherit;}


/**************************************************************************************************************
***************************************************************************************************************

     G L Y P H   I C O N S

The app implements Glyphicons in a custom way using span tags with the .txticon class, then containing
pure text. So no need for the normal Glyphicons :after thing.

*/

@font-face {
  font-family: 'Glyphicons Regular';
  src: url('../fonts/glyphicons-regular.eot');
  src: url('../fonts/glyphicons-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-regular.woff') format('woff'), url('../fonts/glyphicons-regular.ttf') format('truetype'), url('../fonts/glyphicons-regular.svg#glyphiconsregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.txticon {
	font-family: 'Glyphicons Regular';
	font-style: normal;
	font-weight: normal;
	/*color: #5d5d5d;*/
	vertical-align: middle;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	font-variant: normal;
	line-height: 1em;
	text-decoration: none;
}

/**************************************************************************************************************
***************************************************************************************************************

     T O P   H E A D L I N E

All have class .indexedheadline. Used on top of every single view.

*/

.indexedheadline {
	background-color: #444;
	display: block;
	padding: 6px;
	padding-left: 30px; /* to accommodate for Back arrow button */
	padding-right: 35px; /* to accommodate for category Icon */
	text-align: center;
	margin-bottom: 1em;
	color: white;
	position: relative;
	overflow-y: visible;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

.indexedheadline:after { /* category icon shown to the far right of all top headlines */
	font-family: 'Glyphicons Regular';
	right: 4px;
	top: 0;
	font-size: 30px;
	color: #333;
	text-shadow: 0 0 5px white;
	position: absolute;
}
.indexedheadline.glossarycat:after {content: "\E072";} /* book icon */
.indexedheadline.calccat:after {content: "\E324";} /* calculator icon */
.indexedheadline.toolcat:after {content: "\E461";} /* blacksmith icon */
.indexedheadline.infocat:after {content: "\E196";} /* infocircle icon */
.indexedheadline.schoolcat:after {content: "\E333";} /* certificate icon */
.indexedheadline.helpcat:after {content: "\E195";} /* help icon */

.gobackbutton:before {  /* The back button found to the far left inside the top header of non-root views */
	position: absolute;
	font-family: 'Glyphicons Regular';
	content: "\E211"; /* left arrow icon */
	top: 2px;
	left: 0;
	z-index: 100;
	font-size: 20px;
	color: white;
	text-decoration: none;
	text-align: left;
	padding-left: 5px;
	width: 50px; /* Bigger width than needed to make bigger hitboxes, which means easier to click */
}


/**************************************************************************************************************
***************************************************************************************************************

     H E L P

The .viewsmallhelp is the short help description that is displayed at the top of all views (unless turned off)
Then .viewhelp is the big opened view.

*/


.viewhelp, .viewsmallhelp {
	background-color: #DDD;
	border-radius: 6px;
	text-align: left;
}

.viewhelp {
	min-height: 97%;
	padding: 12px;
}

.viewsmallhelp {
	padding: 4px;
	font-size: 12px;
	margin-bottom: 24px;
}

.viewsmallhelp .helplink {
	float: right;
	margin-left: 10px;
}

.hidehelpmode .hidehelpbutton, .hidehelpmode .viewsmallhelp, button.showhelpbutton {display:none;}
.hidehelpmode .showhelpbutton {display:inline-block;}


.mainhelpsymbol { /* used in the main help text for each tab */
	display: block;
	text-align: center;
	margin: 20px auto;
	margin-top: 0;
	font-size: 60px;
}
/* .helplist is used for lists in the help texts */
.helplist {
	margin-left: 3em;
}
.helplist dt {
	font-size: 30px;
	display: block;
	width: 35px;
	float: left;
	clear: left;
}
.helplist dd {
	margin-top: 14px;
	float: left;
}

/**************************************************************************************************************
***************************************************************************************************************

     T O G G L E   B O X

This is a utility thing that's used for toggling between different lists, such as expanding examples and
sorting in the tool index. Purely utility, no style.

*/

.togglebox .togglesecondbutton, .togglebox .togglecontentsecond {
	display: none;
}
 
.togglebox.togglesecond .togglesecondbutton {
	display: inline-block;
}

.togglebox.togglesecond .togglecontentsecond {
	display: block;
}

.togglebox.togglesecond .togglefirstbutton, .togglebox.togglesecond .togglecontentfirst {
	display: none;
}


/**************************************************************************************************************
***************************************************************************************************************

     R O W N U M B E R   S U B H E A D E R

These are the small headline used inside boxes, for example the one saying "Analysis" on the main calc page.
The name rownum is just for historical reasons. Also used for actual rownumbers in calculation results, and
a few other places. All have the .rownum class.

*/

.rownum {
	margin-right: 0.6em;
	margin-top: 1px;
	margin-bottom: 3px;
	font-size: 1em;
	color: #FFF;
	background-color: #555;
	border-radius: 10px;
	min-width: 15px;
	padding: 1px 6px;
	text-align: center;
}

h5.rownum {
	display: inline-block;
	margin: 0 auto;
	font-weight: normal;
	text-align:center;
	margin-bottom: 1em;
}


/**************************************************************************************************************
***************************************************************************************************************

    S U B   H E A D E R   I N S I D E   V I E W S

In-text headers or section headers (that are NOT inside a box like the rownum headers abobe) all have the .nav-header class.
They're also all h5 elements, I think.
You can find examples of this on a word explanation page that has operation links (reading "Related basic operations" etc).

*/

h5.nav-header {
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #999;
	margin-top: 3em;
	font-size: 0.85em;
	margin-bottom: 2em;
	margin-left: 1em;
	margin-right: 3em;
	border-bottom: 1px solid #999;
	padding-left: 3em;
	text-align: left;
}

/**************************************************************************************************************
***************************************************************************************************************

    P I L L   L I N K

This refers to the pill-shaped link to a word/operation/lesson/infopage that can be found throughout the app.
They are all anchor tags, and all have the class .davidlink.

*/

.davidlink {
	display: inline-block;
	border-radius: 3px;
	background-color: #E7EDFF;
	border: 1px solid #C7D3FF;
	padding: 2px 4px;
	color: #000;
	text-decoration: none;
	font-size: 0.9em;
	margin: 3px;
	min-width: 25px;
}
.davidlink:hover {
	color: #000;
	cursor: pointer;
}
.davidlink:active {
	background-color: #C7D3FF;
	color: #000;
}
div.davidlist { /* davidlinks are (always?) found insides divs with class .davidlist */
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
}


   /* ------------------- Tool and lesson link completion marker ------------------------------------------------ */


.toollink, .lessonlink {position:relative; padding-right:17px;} /* To accommodate for the red/green/yellow marker to the far right of tool and lesson links */
.toollink:after, .lessonlink:after, .mark:after {
	display: inline-block;
	height: 10px;
	width: 10px;
	position: absolute;
	right: 3px;
	bottom: 6px;
	border-radius: 7px;
	content: " ";
	border: 1px solid #555;
}
.mark {
	display:inline-block;
	position: relative;
	width: 10px;
}
.mark:after {
	right:0;
	bottom: 4px;
}

.viewtitle .nolink:after{border:0;}

.toollink.green:after, .lessonlink.green:after, .mark.green:after {background-color: #29D107;}
.toollink.red:after, .lessonlink.red:after, .mark.red:after {background-color: #F11308;border:0;}
.toollink.yellow:after, .lessonlink.yellow:after, .mark.yellow:after {background-color: #FFDD00;}

span.toollink:after, span.lessonlink:after {bottom:3px;}

/**************************************************************************************************************
***************************************************************************************************************

	T R A F F I C   L I G H T S

Shown on toolview and lessonview.

*/

.trafficlight {
	text-align: center;
	background-color: #444;
	width: 20px;
	height: 62px;
	border-radius: 4px;
	float: left;
	margin-right: 10px;
	padding-top: 2px;
	font-size: 14px;
}
.trafficlight > span {
	width: 14px;
	height: 14px;
	border-radius: 7px;
	display: inline-block;
}

.tredlamp {background-color:#4B0300;}
.tyellowlamp {background-color:#625500;}
.tgreenlamp {background-color:#0E5500;}

.trafficlight.trafficred > .tredlamp {background-color:#F11308;box-shadow: 0 0 12px #F11308;}
.trafficlight.trafficyellow > .tyellowlamp {background-color:#FFDD00;box-shadow: 0 0 12px #FFDD00;}
.trafficlight.trafficgreen > .tgreenlamp {background-color:#29D107;box-shadow: 0 0 12px #29D107;}



/**************************************************************************************************************
***************************************************************************************************************

	N A V I G A T I O N   T A B S

Tabs will look different depending if the body tag has the .phone or the .large class
Tabs will be bottom or left depending if the body tag has the .portrait or the .landscape class

*/


	/* ------------------- Control positions depending on screen size/orientation ------------------------------------------ */

.controlpanel { /* the div containing the tabs */
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;	
	z-index: 10; /* so not to be below view content box shadow */
	background-color: #fafafa;
	border-color: #e6e6e6;
}
body.portrait .controlpanel {
	border-top: 1px solid #e6e6e6;
	right: 0;
}
body.landscape .controlpanel {
	border-right: 1px solid #e6e6e6;
	top: 0;
}
body.phone.portrait .controlpanel {
	height: 45px;
}
body.landscape .controlpanel{
	width: 45px;
}
body.large.portrait .controlpanel {
	height: 65px;
}
body.large.landscape .controlpanel {
	width: 65px;
}
body.phone.landscape .wrapper {left: 45px;}
body.phone.portrait .wrapper {bottom: 45px;}
body.large.portrait .wrapper {bottom: 65px;}
body.large.landscape .wrapper {left: 65px;}

	/* --------------------------------------------- Tab look ------------------------------------------------- */

.mainnavicon {
	display: block;
	font-size: 18px;
	color: #5d5d5d;
}

body.portrait .tab {
	display: inline-block;
	width: 18%;
}

body.landscape .tab {
	display: block;
	padding-top: 4%;
	height: 18%;
}
.controlbuttontext {
	font-size: 10px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	color: #5d5d5d;
}
.tab, .tab:hover, .tab:active {
	text-decoration: none;
}

/* -----------------------------------------Active Tab look ------------------------------------------------- */

.tab.active > .mainnavicon {
	color: #007aff;
}
.tab.active > .controlbuttontext {
	color: #007aff;
}


/**************************************************************************************************************
***************************************************************************************************************

	T E X T   R E P O R T   M O D E

In textreport mode, a button is shown after every single (almost) piece of text, to facilitate
sending a text-related bugreport.

*/

.textreportmode .textreport {
	display: inline-block;
	border-radius: 4px;
	background-color: #B94A48;
	color: white;
	padding: 0 0.5em;
	margin-left: 0.35em;
}

.textreportmode .textreportmodeonbutton {
	display: none;
}
.textreportmode .textreportmodeoffbutton {
	display: inline-block;
}
button.textreportmodeoffbutton {display:none;}


.textreport { display: none;}