
/********** CONTROL POSITIONS AND SIZES ************/








/************ TABS LOOK *********************/





body.large {
	font-size: 16px;
}




.controlbuttontext {
	color: #555;
}

body.phone .controlbuttontext {
	display: block;
	text-transform: lowercase;
	font-size: 0.8em;
}







