
.qcontainer .indexedheadline {
	margin-bottom: 0.4em;
}

.qcontainerwithsel .indexedheadline {
	margin-bottom: 1em;
}

.qheadline {
	display: none;
	background-color: #CCC;
	border-radius: 9px;
	position: relative;
	border: 1px solid #AAA;
	margin-left: 2em;
	padding: 0 0.5em;
	font-weight: normal;
	float: left;
}

body.usingq .qheadline + * {
	clear: left;
}

.qheadline:before {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 5px 25px 5px 0;
	display: block;
	width: 0;
	z-index: 1;
	bottom: 5px;
	border-color: transparent #AAA;
	left: -25px;
}

.qheadline:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 5px 25px 5px 0;
	display: block;
	width: 0;
	z-index: 1;
	bottom: 5px;
	border-color: transparent #CCC;
	left: -19px;
}

body.usingq .qcontainer h5, body.usingq .nonqheadline {
	display: none;
}

body.usingq  h5.qheadline {
	display: block;
}

body.usingq .qcontainer .qheadline:active {
	border-color: #999;
	background-color: #AAA;
}

body.usingq .qcontainer .qheadline:active:before {
	border-color: transparent #999;
}

body.usingq .qcontainer .qheadline:active:after {
	border-color: transparent #AAA;
}

body.usingq .qcontainer .qheadline {
	display: block;
	margin: 0.5em 0 0 2em;
	background-color: #EEE;
	border-style: dashed;
}

body.usingq .qcontainer .qheadline:after {
	border-color: transparent #EEE;
	left: -24px;
}





body.usingq .qcontainerwithsel .qheadline,
body.usingq .qcontent {
	display: none;
}

body.usingq .qcontainerwithsel .qheadlineactive {
	background-color: #CCC;
	border-style: solid;
	display: block;
	margin: 0 0 0.5em 2em;
}

body.usingq .qcontainerwithsel .qheadlineactive:after {
	border-color: transparent #CCC;
	left: -19px;
}

body.usingq .qcontentactive {
	display: block;
}



body.large .qcontainer .qheadline,
body.landscape .qcontainer .qheadline {
	float: left;
}

body.large .qcontainer .qcontent,
body.landscape .qcontainer .qcontent {
	clear: left;
	margin-left: 4em;
}


