.canfinishexplanation, .cannotfinishexplanation, .havefinishedexplanation, button.canfinishbutton, button.cannotfinishbutton, button.havefinishedbutton {display:none;}
.canfinishlesson .canfinishexplanation, .canfinishlesson .canfinishbutton,
.cannotfinishlesson .cannotfinishexplanation, .cannotfinishlesson .cannotfinishbutton,
.havefinishedlesson .havefinishedexplanation, .havefinishedlesson .havefinishedbutton {display:block;}

button.canfinishbutton, button.cannotfinishbutton, button.havefinishedbutton {
	margin: 0 auto;
	margin-top: 1em;
	margin-bottom: 2em;
}

/*.completedlesson {
	text-decoration: line-through;
}*/


.lessonlink:hover > span {
	text-decoration: none;
}

.lessonlink > span:hover {
	text-decoration: none;
}
