.mathview > .viewcontent {
	text-align: center;
}

.objbox {
	border: 1px solid #777;
	display: inline-block;
}

.structobj.markme {
	background-color: #E7EDFF;
}

.markme > .structtype {
	background-color: #C7D3FF;
	font-weight: bold;
}

.structobj {
	vertical-align: top;
	text-align: center;
	float: left;
}

.structobj.lonechild {
	float: none;
	display: block;
}

.structobjs > .structobj {
	border-right: 1px solid #777;
}

.structobjs > .structobj:last-child {
	border-right: none;
}

.structtype {
	display: block;
	margin: 0 auto;
	padding: 1px 3px;
}

.parent > .structtype {
	border-bottom: 1px solid #777;
}

.structval {
	display: block;
	padding: 4px;
}

.structobjs {
	display: block;
}

.parent > .val {
	display: none;
}
