.structtable td {
	vertical-align: top;
	border: 1px solid #777;
	padding: 0;
}

.structtable {
	border: 1px solid #777;
}

.mathview > .viewcontent {
	text-align: center;
}

.markchild, .markme {
	background-color: #E7EDFF;
}

.markme .structtype {
	background-color: #C7D3FF;
	font-weight: bold;
}

.structtype {
	display: block;
	margin: 0 auto;
	padding: 1px 3px;
}

.structval {
	display: block;
	padding: 4px;
}
