<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "se.krawaller.algebraexplorer"
        versionCode="10" 
        version   = "0.12.06">

    <!-- versionCode is optional and Android only -->

    <name>Algebra Explorer</name>

    <description>
        A didactical symbolic calculator
    </description>

    <author href="http://algebraexplorer.com" email="david@krawaller.se">
        David Waller
    </author>

    <gap:platform name="ios" />
    <gap:platform name="android" />

    <gap:plugin name="org.apache.cordova.core.device" />
    <gap:plugin name="com.phonegap.plugin.statusbar" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <!--<gap:plugin name="com.chariotsolutions.cordova.plugin.keyboard_toolbar_remover" />-->

    <preference name="phonegap-version" value="3.3.0" />
    <preference name="orientation" value="default" />
    <preference name="webviewbounce" value="false" />
    <preference name="ios-statusbarstyle" value="default" />
    <preference name="fullscreen" value="false" />
    <preference name="target-device" value="universal" />
    <preference name="detect-data-types" value="false" />
    <preference name="prerendered-icon" value="true" />
    <preference name="KeyboardShrinksView" value="false" />
    <preference name="keyboard-shrinks-view" value="false" />
    <preference name="HideKeyboardFormAccessoryBar" value="true" />
    <preference name="hide-keyboard-form-accessory-bar" value="true" />

    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#fafafa" />


    <access origin="*" />

    <icon src="icon.png" />
    <icon src="icons/ios/icon.png" gap:platform="ios" width="57" height="57" />
    <icon src="icons/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
    <icon src="icons/ios/icon_at_2x.png" gap:platform="ios" width="114" height="114" />
    <icon src="icons/ios/icon-72_at_2x.png" gap:platform="ios" width="144" height="144" />

    <gap:splash src="splash/ios/Default.png" gap:platform="ios" width="320" height="480" />
    <gap:splash src="splash/ios/Default_at_2x.png" gap:platform="ios" width="640" height="960" />
    <gap:splash src="splash/ios/Default_iphone5.png" gap:platform="ios" width="640" height="1136" />
    <gap:splash src="splash/ios/Default-Landscape.png" gap:platform="ios" width="1024" height="748" />
    <gap:splash src="splash/ios/Default-Portrait.png" gap:platform="ios" width="768" height="1004" />
    <gap:splash src="splash/ios/Default-Landscape_1024_768.png" gap:platform="ios" width="1024" height="768" />
    <gap:splash src="splash/ios/Default-Portrait_768_1024.png" gap:platform="ios" width="768" height="1024" />
    <gap:splash src="splash/ios/Default-Landscape_at_2x.png" gap:platform="ios" width="2048" height="1496" />
    <gap:splash src="splash/ios/Default-Portrait_at_2x.png" gap:platform="ios" width="1536" height="2008" />
    <gap:splash src="splash/ios/Default-Landscape_at_2x_2048_1536.png" gap:platform="ios" width="2048" height="1536" />
    <gap:splash src="splash/ios/Default-Portrait_at_2x_1536_2048.png" gap:platform="ios" width="1536" height="2048" />

</widget>